<launch>
	
	<!-- Launches the drone_colour_tracker -->
	<node name="single_color_tracking" pkg="image_process" type="single_color_tracking" required="true">
	<remap from="test" to="chatter"/>
	</node>

	<!-- Launches the drone_colour_tracker -->
	<node name="single_color_tracking_reader" pkg="master_control" type="single_color_tracking_reader" required="true">
	<remap from="test" to="chatter"/>
	</node>

</launch>
