<launch>

	<!-- Launches the single_colour_tracker -->
	<node name="face_det" pkg="image_process" type="face_det" required="true"/>

	<!-- Launches the controller for the color tracking -->
	<node name="face_tracker_point_reader" pkg="master_control" type="face_tracker_point_reader.py" required="true"/>

	<!-- Launches the controller for the color tracking -->
	<node name="tracker_controls" pkg="simple_control" type="tracker_controls.py" required="true"/>


</launch>
