
<launch>

	<!-- Launches the controller for the color tracking -->
	<node name="face_tracker_point_reader" pkg="master_control" type="face_tracker_point_reader.py" required="true"/>

	<!-- Launches the tracker reader for the x and y coordinates -->
	<node name="drone_facetrack" pkg="image_process" type="drone_facetrack" cwd="node"  required="true"/>

	<!-- Launches the controller for the color tracking -->
	<node name="tracker_controls" pkg="simple_control" type="tracker_controls.py" required="true"/>

</launch>
